{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 120,

    "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./resources/css/app.css"
}
